    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Cairo", sans-serif;
    }

    :root {
        --main-color: #5B38A6;
        --prime-color: #4F328C;
        --second-prime-color: #433673;
        --third-prime-color: rgb(242, 135, 5);
        --monologues-color: #F2EFC2;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: var(--main-color);
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
        
    }

    header {
        width: 90%;
        max-width: 1200px;
        margin-top: 50px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: relative;
        padding: 15px;
        display: flex;
        align-items: center;
        background-color: var(--second-prime-color);
        color: var(--monologues-color);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    header p {
        margin: 0 auto;
    }

    header i {
        padding: 10px;
        position: absolute;
        right: 15px;
        border-radius: 50%;
        transition: background-color 0.3s,color 0.3s, transform 0.3s;
    }

    header i:hover {
        cursor: pointer;
        background-color:var(--monologues-color);
        color: var(--main-color);
    }

    main {
        width: 90%;
        max-width: 1200px;
        height: 90vh;
        padding: 15px;
        background-color: white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: repeat(2 , 200px);
        gap: 10px;
        
        
    }

    main::-webkit-scrollbar {
        display: none;
    }
    main {
        scrollbar-width: none;
    }
    main {
        -ms-overflow-style: none;
    }
    section {
        height: 100%;
        padding: 15px;
        margin: 10px;
        display: flex;
        flex-direction: column-reverse; /* Change to column */
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 12px;
        border: 1px solid rgba(128, 128, 128, 0.236);
        transition: background-color 0.3s, transform 0.3s;
        background-color: white; /* Add a background color */
        width: 100%; /* Make sure the cards take the full width */
    }
    section:hover{
        transform: translateY(-2px);
    }

    /* Adjust button styles */
    section .buttons {
        width: 100%;
        margin-top: 10px; /* Add some margin between buttons and content */
        display: flex;
        justify-content: space-around; /* Center buttons horizontally */
    }

    section .buttons button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--second-prime-color);
        border: none;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    section .buttons button i {
        font-size: 18px;
        color: var(--monologues-color);
    }

    section .buttons button:hover {
        background-color: var(--third-prime-color);
        transform: translateY(-2px);
    }

    section .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }

    section .content .title {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center; /* Center title */
    }

    section .date {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    @media (max-width: 768px) {
        header {
            font-size: 20px;
            padding: 10px;
        }
        main{
            grid-template-columns: repeat(1 ,1fr);
        grid-template-rows: repeat(3 , 1fr);
        gap: 10px;
        }
        section {
            padding: 10px;
            flex-direction: column-reverse;
            align-items: flex-start;
         
            
        }
        section .content{
            text-align: left;
            align-items: start;
        }

        section .buttons {
            flex-direction: row;
            width: 100%;
            justify-content: start;
            gap: 20px;
        }

        section .content .title {
            font-size: 1.1em;
        }
    }

    @media (max-width: 480px) {
        main {
            width: 100%;
            height: 100vh;
            border-radius: 0;
            /* padding: 0; */
            margin: 0;
        }

        header {
            width: 100%;
            font-size: 18px;
            padding: 8px;
            margin: 0;
            border-radius: 0;
        }

        section {
            padding: 10px;
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        section .buttons {
            flex-direction: row;
            width: 100%;
            justify-content: start;
            gap: 20px;
        }

        section .buttons button {
            padding: 8px;
            font-size: 14px;
        }

        section .content .title {
            font-size: 1em;
        }
    }
